.footerArea {
    background-image: url(../../public/images/footer-bg.png);
    background-size: cover;
}

.footerArea li {
    padding-bottom: 10px;
}

.socialMedia  {
    margin-right: 10px;
}

.socialMedia .activeIcon {
    background-color: #6ACECE;
    color: white;
}